* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #ffffff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    width: 100vw;
    height: auto;
    padding: 15px 20px;
    background-color: #FFA032;
    position: fixed;
    z-index: 1000;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > h2 {
    color: white;
}
.container-form > input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.btn-form {
    margin-left: 10px;
    padding: 10px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #030220;
    border: none;
}
.btn-form:hover {
    cursor: pointer;
}
/*****************ANIME CARDS CONTAINER************************/
.main {
    width: 100vw;
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 60px;
}
.container-animes {
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: start;
    gap: 15px;
}
/*****************ANIME CARDS************************/
.card-anime {
    position: relative;
    max-width: 230px;
    min-height: 410px;
    max-height: 410px;
    box-shadow: 0 3px 10px #dadada;
    border-radius: 5px;
    padding: 5px 7px;
    overflow: hidden;
}
.card-anime:hover {
    cursor: pointer;
}
.title-card {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    color: #313131;
    margin-bottom: 5px;
}
.img-card {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 5px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-card {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: #313131;
}
.info-subtitle {
    margin-bottom: 3px;
}
.info-subtitle-bold {
    color: #030220;
}
.on-air {
    color: #03cb00;
    font-weight: 600;
}
.finished {
    color: #ff2121;
    font-weight: 600;
}
.btn-deactivated {
    margin-top: 3px;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #a5a5a5;
    border: none;
    border-radius: 3px;
}
.btn-addAnime {
    margin-top: 3px;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FFA032;
    border: 1px solid #ff9923;
    box-shadow: 0 3px 3px #b1b1b1;
    border-radius: 3px;
}
.btn-addAnime:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px #828282;
}