<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Buscador Anime</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h2>Buscar Anime</h2>
            <form action="/" method="POST">
                <div class="container-form">
                    <input type="search" name="search">
                    <button class="btn-form" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </nav>

    <div class="main">
        <div class="container-animes">

            {% for anime in animes %}
                <div class="card-anime">
                    <p class="title-card">{{anime['title']}}</p>
                    <div class="img-card">
                        <img class="image" src="{{anime['images']['jpg']['image_url']}}" alt="{{anime['title']}}"></img>
                    </div>
                    <div class="info-card">
                        {% if anime['status'] == 'Currently Airing' %}
                            <p class="info-subtitle on-air">
                                <b class="info-subtitle-bold">Status:</b> {{anime['status']}}
                            </p>
                        {% else %}
                            <p class="info-subtitle finished">
                                <b class="info-subtitle-bold">Status:</b> {{anime['status']}}
                            </p>
                        {% endif %}
                        <p class="info-subtitle info-episodes">
                            <b class="info-subtitle-bold">Episodes:</b> {{anime['episodes']}}
                        </p>
                    </div>
                        
                    {% if anime['status'] == 'Not yet aired' %}
                        <button class="btn-deactivated">Watched it {{anime['mal_id']}}</button>
                    {% else %}
                        <button class="btn-addAnime">Watched it {{anime['mal_id']}}</button>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>